<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    
</head>   
<body> 
<div align="center">
    <img src="https://th.bing.com/th/id/OIP.zJ1tAqUI-uhw2r5g4Cj2LAHaEH?w=287&h=180&c=7&r=0&o=5&pid=1.7">
    <br>
    
    
    <div>
        <h2>Você encontra o melhor preço para seu produto em :</h2></div>
        <div style="font-size: xx-large;"><p> {{ greet }}</p></div>
        <p></p>
        <h2>Sua lista :</h2>
        <p><div style="font-size: x-large;">r$ {{ lista }} Reais</div></p>
        <p></p>
        <h2>Você pode ter economizado até :</h2>
        <p><div style="font-size: x-large;">r$ {{ totaldif }} Reais</div></p>
        
    </div>
    
    
        
    </div>
</div>
</body>
</html>