<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="greet" method="post">
      
        <br>
        <p>CONFIRA A LISTA</p>
        <br>
        
        <br>
        <input type="submit" value="CONFIRMA" id="greet">
    </form>
    <h2>lista :</h2>
    <p><div style="font-size: x-large;"> {{ listas }} </div></p>
        
</body>
</html>